<div class="register-container">
  
    <div class="Dashboard-Third-Layout-Blocks">
      <div class="Dashboard-Layout-Block-List">
  
        <h3 style="text-align: left">WEIGHBRIDGE NOTE</h3>
   
        <table class="Info-Table">
          <thead>
          </thead>
          <tbody>
              <tr>
                <td>Date:</td>
                <td><strong>test</strong></td>
              </tr>
              <tr>
                <td>WB Number</td>
                <td><strong>test</strong></td>
              </tr>
              <tr>
                <td>Customer:</td>
                <td><strong>test</strong></td>
              </tr>
              <tr>
                <td>FBO Number:</td>
                <td><strong>test</strong></td>
              </tr>
              <tr>
                <td>Vehicle Registration:</td>
                <td><strong>test</strong></td>
              </tr>
              <tr>
                <td>Product Name:</td>
                <td><strong>test</strong></td>
              </tr>
              <tr>
                <td>Product Grading:</td>
                <td><strong>test</strong></td>
              </tr>
              <tr>
                <td>Time In:</td>
                <td><strong>test</strong></td>
              </tr>
              <tr>
                <td>Time Out:</td>
                <td><strong>test</strong></td>
              </tr>
              <tr>
                <td>Silo:</td>
                <td><strong>test</strong></td>
              </tr>
              <tr>
                <td>Loading/Off-loading:</td>
                <td><strong>test</strong></td>
              </tr>
              <tr>
                <td>Firts Weight:</td>
                <td><strong>test</strong></td>
              </tr>
              <tr>
                <td>Second Weight:</td>
                <td><strong>test</strong></td>
              </tr>
              <tr>
                <td>Total Weight:</td>
                <td><strong>test</strong></td>
              </tr>

          </tbody>
      </table>
  
      </div>
    </div>


    <div style="display: flex;">
        <div style="display: flex; margin-right: 1.5em;">
            <label class="Input-Lables" for="make">Driver: </label>
            <div style="width: 150px; height: 20px; border-bottom: solid lightgray 2px;"></div>
        </div>
    
        <div style="display: flex;">
            <label class="Input-Lables" for="make">Signature: </label>
            <div style="width: 150px; height: 20px; border-bottom: solid lightgray 2px;"></div>
        </div>
    </div>
    <!-- <div style="display: flex;">
        <div style="display: flex; flex-direction: column; width: fit-content; margin-right: 1.5em;">
            <label class="Input-Lables" for="make">Driver: </label>
            
            <canvas #driverSignatureCanvasDriver width="300" height="100" style="background-color: #ffffff; border: 1px solid lightgray;"
                    (mousedown)="handleMouseDown($event)"
                    (mousemove)="handleMouseMove($event)"
                    (mouseup)="handleMouseUp()"
                    (touchstart)="handleMouseDown($event)"
                    (touchmove)="handleMouseMove($event)"
                    (touchend)="handleMouseUp()">
            </canvas>
        </div>
    
        <div style="display: flex; flex-direction: column; width: fit-content;">
            <label class="Input-Lables" for="make">Signature: </label>
            
            <canvas #signatureCanvas width="300" height="100" style="background-color: #ffffff; border: 1px solid lightgray;"
                    (mousedown)="handleMouseDown($event)"
                    (mousemove)="handleMouseMove($event)"
                    (mouseup)="handleMouseUp()"
                    (touchstart)="handleMouseDown($event)"
                    (touchmove)="handleMouseMove($event)"
                    (touchend)="handleMouseUp()">
            </canvas>
        </div>
    </div> -->

  </div>