<div class="register-container">
   
    <h2>Add Vehicle</h2>

    <form (ngSubmit)="onSubmit()">
      <h3>Vehicle Details</h3>

      <label class="Input-Lables" for="plateNumber">Vehicle Registration Number <span class="Required">*</span></label>
      <input type="text" id="firstname" placeholder="Enter Vehicle Registration Number" required>
      
      <label class="Input-Lables" for="plateNumber">Vehicle License Plate Number <span class="Required">*</span></label>
      <input type="text" id="firstname" placeholder="Enter License Plate Number" required>

      <label class="Input-Lables" for="type">Vehicle Type <span class="Required">*</span></label>
      <input type="text" id="surname" placeholder="Enter Vehicle Type" required>

      <label class="Input-Lables" for="make">Make <span class="Required">*</span></label>
      <input type="text" id="email" placeholder="Enter Make" required>

      <label class="Input-Lables" for="model">Model <span class="Required">*</span></label>
      <input type="text" id="cellNumber" placeholder="Enter Model" required>

      <label class="Input-Lables" for="year">Year <span class="Required">*</span></label>
      <input type="number" id="password" placeholder="Enter Year Of Vehicle" required>
 
      <div class="Buttons-Parent">
        <div class="button-1-parent">
          <button class="button-2" type="submit">ADD VEHICLE</button>
        </div>
      </div>
      
    </form>

    <!-- Toast message -->
    <div *ngIf="toastMessage" class="toast-message">
      {{ toastMessage }}
    </div>

</div>