<div class="register-container">

  <h2>Off Load Product</h2>

  <form >
    <h3>Off Load Product Details</h3>
    
    <label class="Input-Lables" for="plateNumber">Choose Silo <span class="Required">*</span></label>
    <input type="text" id="firstname" placeholder="Enter Silo Name" required>

    <label class="Input-Lables" for="type">Choose Vehicle <span class="Required">*</span></label>
    <select name="languages" id="vehicle" placeholder="Choose Vehicle" required>
      <option value="Vehicle">Vehicle 1</option>
      <option value="Vehicle">Vehicle 2</option>
      <option value="Vehicle">Vehicle 3</option>
      <option value="Vehicle">Vehicle 4</option>
      <option value="Vehicle">Vehicle 5</option>
      <option value="Vehicle">Vehicle 6</option>
      <option value="Vehicle">Vehicle 7</option>
      <option value="Vehicle">Vehicle 8</option>
    </select>

    <label class="Input-Lables" for="make">Type Of Product <span class="Required">*</span></label>
    <input type="text" id="email" placeholder="Enter Type Of Product" required>

    <label class="Input-Lables" for="model">Weight Being Added (First Weight) <span class="Required">*</span></label>
    <input type="text" id="cellNumber" placeholder="Enter Weight Being Added (First Weight)" required>
    
    <div class="Buttons-Parent">
      <div class="button-1-parent">
        <button class="button-2" type="submit">ADD OFF LOAD PRODUCT</button>
      </div>
    </div>
    
  </form>

</div>
