<div class="register-container">
 
  <h2>Load Product</h2>

  <form >
    <h3>Load Product Details</h3>

    <!-- <label class="Input-Lables" for="contractId">Contract Number: <span class="Required">*</span></label>
    <select id="contractIdSelect" [disabled]="!isPageLoaded" *ngIf="all_contracts" [(ngModel)]="selectedContractString" (change)="contractSelectionChanged($event.target.value)">
      <option *ngFor="let contract of all_contracts" [ngValue]="contract.id">{{ contract.contractNumber }}</option>
    </select> -->

    <table class="Info-Table">
      <tbody>
        <tr>
          <td class="dataheader"><strong>Contract Number:</strong></td>
          <td class="datacell"><select id="contractIdSelect" style="width: 100%;margin-bottom: 0px;font-size: 16px;" [disabled]="!isPageLoaded" *ngIf="all_contracts" [(ngModel)]="selectedContractString" (change)="contractSelectionChanged($event.target.value)">
            <option *ngFor="let contract of all_contracts" [ngValue]="contract.id">{{contract.customer.customerName}} - {{ contract.contractNumber }}</option>
          </select></td>     
      </tr>
          <tr>
              <td class="dataheader"><strong>Customer:</strong></td>
              <td class="datacell">{{selectedCustomer.customerName}}</td>
          </tr>
          <tr>
            <td class="dataheader"><strong>Product:</strong></td>
            <td class="datacell">{{selectedProduct.productName}}</td>
        </tr>

        <tr>
          <td class="dataheader"><strong>Silo:</strong></td>
          <td class="datacell"><select id="siloIdSelect" style="width: 100%;margin-bottom: 0px;font-size: 16px;" [disabled]="!isPageLoaded" *ngIf="all_silos" [(ngModel)]="selectedSiloString" (change)="siloSelectionChanged($event.target.value)">
            <option *ngFor="let silo of all_silos" [ngValue]="silo.id">{{silo.friendlyName}}</option>
          </select></td>     
        </tr>




      </tbody>
  </table>





    <div class="Buttons-Parent">
      <div class="button-1-parent">
        <button class="button-2" type="submit">ADD LOAD PRODUCT</button>
      </div>
    </div>
    
  </form>

</div>